.outerDiv {
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D0E4F7;
  font-family:  'Libre Caslon Text', serif;
  color: #103456;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f2fb8f;;
  width: 400px;
  /* height: 400px; */
  max-height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.title {
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bold;
}
/* .sign {

} */

.un {
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content:space-evenly;
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #e8f2fb8f;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-left: 46px;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family:  'Libre Caslon Text', serif;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.pass {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  background-color: #1890ff;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 35%;
  margin-top: 0.8rem;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.loginLink {
  color: #004b92;
}

.signuplink {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #000C17;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}